<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="../scripts/jQuery.js"></script>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="nav-btn-wrapper">
        <div class="nav-btn-active">
            <img class="nav-btn-img" src="../assets/home_nav_logo.svg" alt="Home logo">
            DOMOV
        </div>
        <div class="nav-btn">
            <img class="nav-btn-img" src="../assets/log_nav_logo.svg" alt="Item log logo">
            BELEŽI
        </div>
        <div class="nav-btn">
            <img class="nav-btn-img" src="../assets/stock_nav_logo.svg" alt="Stock logo">
            ZALOGA
        </div>
        <div class="nav-btn">
            <img class="nav-btn-img" src="../assets/members_nav_logo.svg" alt="Member logo">
            ČLANI
        </div>
        <div class="nav-btn-active">
            <img class="nav-btn-img" src="../assets/tab_nav_logo.svg" alt="Tab logo">
            DOLGOVI
        </div>
    </div>
</body>
</html>